
`rt-fraud-pipeline/.gitignore`
```gitignore
# Java/Maven
target/
build/
*.iml
*.class
*.log

# IntelliJ
.idea/
*.iws
out/

# Node
node_modules/
dist/
.cache/
.vite/


# Python
__pycache__/
*.pyc
.venv/
.env

# OS
.DS_Store
Thumbs.db

# Archives / tools
*.tgz
*.tar.gz
flink-2.0.0*/
flink/lib/*.jar
flink/plugins/**/flink-metrics-*.jar



/scripts/

*.swp
*.swo
.vscode/


# Raw data (keep folder, ignore files)
ml-model/data/*
!ml-model/data/.gitkeep
!ml-model/data/README.md

# Processed training arrays
ml-model/processed/

# Artifacts: ignore all by default…
ml-model/artifacts/*

!ml-model/artifacts/feature_params.json

# Python cruft
**/__pycache__/
*.py[cod]
**/.ipynb_checkpoints/

# Models / big binaries
*.onnx
*.pkl
*.ckpt

flink/remote/
flink-logs/
**/checkpoints/
*.jar


